---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} - Written by Bartłomiej Czajewski</span>
  {{ content }}
</div>

<div class="related">
  <h3>Related Posts</h3> <!–– h2 previously ––>
  <p></p> <!–– do a space ––>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <p> <!–– h4 previously ––>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </p> <!–– h4 previously ––>
      </li>
    {% endfor %}
  </ul>
</div>
